extends base.pug

block content 
  h1 Set the Tags
  form(method="POST")
    div 
      for level in levelTagList[0]
        label
          if level.isChecked
            input(type="checkbox" value=level.num name=level.tier checked) 
            span=level.tier
          else 
            input(type="checkbox" value=level.num name=level.tier) 
            span=level.tier
          <br>
    <hr>
    div
      for tag in levelTagList[1]
        label
          if tag.isMajor
            input(type="checkbox" value=tag.key name=tag.koName checked) 
          else 
            input(type="checkbox" value=tag.key name=tag.koName)
          span=tag.koName
        <br>
    input(type="submit",value="Set Problem Settings")